# Unreferenced legacy assets (not deployed)
# Kept locally; excluded from the git repo.
/CATALOGO-PLAZA-ESPANA-9-_compressed.pdf
/NIB_Dossier-La-Solana_web.pdf
/PLAZA-ESPANA-9_P2-P3.pdf
/PLAZA-ESPANA-9_P4-BC.pdf
/PLAZA-ESPANA-9_PB-P1.pdf
/images/04_Barbaras-1.jpg
/images/06_PlazaEspana_Obra-1.jpg
/images/4_12-CAPITULO3_28@15x.jpg
/images/4_12_1@15x.jpg
/images/4_12_CONTACTO@15x-1.jpg
/images/4_12_CONTACTO@15x.jpg
/images/6_12_1@15x.jpg
/images/6_12_CAPITULO2@15x.jpg
/images/8_12_CONTACTO@15x.jpg
/images/CB-SMART-REAL-ESTATE_horizontal-stacked-blue.png
/images/CONOCENOS_GAL_1.jpg
/images/CONOCENOS_GAL_2.jpg
/images/CONOCENOS_GAL_3-2.jpg
/images/CONOCENOS_GAL_3.jpg
/images/CONOCENOS_GAL_4.jpg
/images/CONOCENOS_GAL_5.jpg
/images/CONOCENOS_GAL_5_1.jpg
/images/CONOCENOS_GAL_6.jpg
/images/CONOCENOS_GAL_7.jpg
/images/CONOCENOS_GAL_8.jpg
/images/DESTACADO_1_3@15x.jpg
/images/DESTACADO_1_4@15x.jpg
/images/DESTACADO_1_5@15x.jpg
/images/DESTACADO_1_6@15x.jpg
/images/DESTACADO_1_7@15x.jpg
/images/DESTACADO_2_1@15x-1.jpg
/images/DESTACADO_2_1@15x-1_1.jpg
/images/DESTACADO_2_1@15x.jpg
/images/DESTACADO_2_3@15x.jpg
/images/DESTACADO_2_4@15x.jpg
/images/DESTACADO_2_5@15x.jpg
/images/DESTACADO_2_6@15x.jpg
/images/DESTACADO_2_7@15x.jpg
/images/DESTACADO_2_8@15x.jpg
/images/DETALLE@15x.jpg
/images/EXTERIOR-02_EXTRA-ROUND.jpg
/images/FOOTER_1.jpg
/images/FULLPAGE_2_CAPITULO2@15x-scaled.jpg
/images/FULLPAGE_CAPITULO1@15x-scaled.jpg
/images/Foto-05.jpeg
/images/Foto-06.jpeg
/images/Foto-08-scaled-1.jpg
/images/Foto-08-scaled-2.jpg
/images/Foto-28bis.jpg
/images/Grupo-12755.png
/images/HOME_4.1_previa.jpg
/images/HOME_4.1_previa_1.jpg
/images/HOME_4.2.jpg
/images/HOME_6.1-previa-1rgf.jpg
/images/HOME_6.1-previa.jpg
/images/HOME_6.1-previa_1.jpg
/images/HOME_6.2.jpg
/images/HOME_6.2g.jpg
/images/HOME_7_Autenticidad.jpg
/images/HOME_7_Elegancia.jpg
/images/HOME_7_Funcionalidad.jpg
/images/HOME_8_JUN-1-1.jpg
/images/HOME_8_JUN-1.jpg
/images/HOME_8_POL-1-1.jpg
/images/HOME_8_POL-1.jpg
/images/HOME_8_POLdfg.jpg
/images/HOME_8_POghjL.jpg
/images/HOME_8_PXG.jpg
/images/HOME_8_PZE-1.jpg
/images/HOME_8_PZE.jpg
/images/HOME_8_PZE_1.jpg
/images/HOME_8_cierre2-1.jpg
/images/HOME_8_cierre2-2.jpg
/images/HOME_8_cierre2.jpg
/images/HOME_Img_principal-1-1.jpg
/images/HOME_Img_principal-1.jpg
/images/HOME_Img_principal.jpg
/images/IMG_9153.jpeg-1.jpg
/images/IMG_9153.jpeg-2.jpg
/images/IMG_9153.jpeg.jpg
/images/IMG_9154.jpeg.png
/images/Imagen-24.png
/images/MMP-1857209.png
/images/PORTADA@15x.jpg
/images/PRY_1.jpg
/images/PRY_1_previa.jpg
/images/Portada_promocion-2.jpg
/images/SOL_Detalle.jpg
/images/SOL_Galeria01.jpg
/images/SOL_Galeria02.jpg
/images/SOL_Galeria03.jpg
/images/SOL_Galeria04.jpg
/images/SOL_Galeria05.jpg
/images/SOL_Galeria06.jpg
/images/SOL_Galeria_viviendas01-min.jpg
/images/SOL_Galeria_viviendas02-min.jpg
/images/SOL_Galeria_viviendas03-min.jpg
/images/SOL_Galeria_viviendas04-min.jpg
/images/SOL_Galeria_viviendas05-min.jpg
/images/SOL_Galeria_viviendas06-min.jpg
/images/SOL_Galeria_viviendas07-min.jpg
/images/SOL_Galeria_viviendas08-min.jpg
/images/SOL_Galeria_viviendas09-min.jpg
/images/SOL_Laurbanizacion_4-12.jpg
/images/SOL_Laurbanizacion_6-12-3.jpg
/images/SOL_Laurbanizacion_6-12-3_1.jpg
/images/SOL_Laurbanizacion_6-12_02.jpg
/images/SOL_Laurbanizacion_8-12_01.jpg
/images/SOL_Laurbanizacion_Full01.jpg
/images/SOL_comoddidades_4-12.jpg
/images/SOL_comodidades_4-12.jpg
/images/SOL_comodidades_8-12.jpg
/images/SOL_comodidades_descatado_1.jpg
/images/SOL_comodidades_descatado_2.jpg
/images/SOL_comodidades_descatado_2_1.jpg
/images/SOL_comodidades_interior_8-12.jpg
/images/SOL_comodidaes_descatado_3.jpg
/images/SOL_espacios_abiertos_descatado_2-2.jpg
/images/SOL_espacios_abiertos_descatado_3.jpg
/images/SOL_gimnasio_descatado_1.jpg
/images/SOL_lacocina_full.jpg
/images/SOL_lasvivienda_Full-min.jpg
/images/SOL_lasviviendas_4-12-1.jpg
/images/SOL_lasviviendas_8-12_1.jpg
/images/SOL_lavivienda_descatado_1.jpg
/images/SOL_orientacion_sur_descatado_2.jpg
/images/SOL_padel_descatado_3.jpg
/images/SOL_refugio_tranquilo_descatado_1.jpg
/images/SOL_sauna_descatado_2.jpg
/images/SOL_sello_breeam_descatado_1.jpg
/images/SOL_transparencias_descatado_3.jpg
/images/SOL_vivienda_descatado_3.jpg
/images/SOL_vivienda_descatado_4.jpg
/images/SOL_vivienda_descatado_5.jpg
/images/VN_05_PISCINA@15x.jpg
/images/VN_06_ACCESO@15x.jpg
/images/VN_09_SALON@15x.jpg
/images/VN_11_COCINA@15x.jpg
/images/VN_14_DORMITORIO-PPAL@15x.jpg
/images/VN_15_SALA-DE-JUEGOS@15x.jpg
/images/VN_16_DORMITORIO-PB@15x.jpg
/images/VN_17_TERRAZA-CAMA@15x.jpg
/images/VN_18_TERRAZA-TUMBONAS@15x.jpg
/images/VN_19_DORMITORIO-EXTERIOR_NOCTURNA@15x.jpg
/images/chalk-3.jpg
/images/chalk-4.jpg
/images/eyv-1024x230.png
/images/eyv-300x67.png
/images/eyv-768x172.png
/images/eyv.png
/images/foto10.jpg
/images/foto11.jpg
/images/foto12.jpg
/images/foto13.jpg
/images/foto14.jpg
/images/foto15.jpg
/images/foto16.jpg
/images/foto17-1-scaled-1-1.jpg
/images/foto17-1-scaled.jpg
/images/foto18-scaled.jpg
/images/foto19-scaled.jpg
/images/foto20-scaled.jpg
/images/foto21-scaled.jpg
/images/foto22-scaled.jpg
/images/foto23-scaled.jpg
/images/foto24-scaled.jpg
/images/foto25-scaled.jpg
/images/foto26-scaled.jpg
/images/foto27-scaled.jpg
/images/foto28_1.jpg
/images/foto28_2.jpg
/images/foto29.jpg
/images/foto30.jpg
/images/foto31.jpg
/images/foto32.jpg
/images/foto33.jpg
/images/foto34.jpg
/images/foto7.jpg
/images/foto8-1-scaled.jpg
/images/foto9.jpg
/images/hands-3.jpg
/images/hands-4.jpg
/images/la-solana.jpg
/images/mariapita-1.jpg
/images/mod-scroll_high-1.png
/images/pattern-3.jpg
/images/playa-copia-scaled.jpg
/images/playas.jpg
/images/sewing-20.jpg
/images/tailor-2.jpg
/images/tailor-3.jpg
/images/tools-10.jpg
/images/tools-11.jpg
/media/2025/04/LA_SOLANA_Icaria_piscina_corto__1_.mp4
/media/2025/04/LA_SOLANA_Icaria_viviendas_corto.mp4
/media/2025/05/LA_SOLANA_Icaria_urbanizacion_corto_2.mp4
/media/2025/06/LaSolana_cabecera.mp4
/media/2025/06/Video1_comprimido.mp4
/media/2025/06/Video2_comprimido.mp4
/media/2025/08/Video01.mov
/media/2025/08/Video02.mov
